// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
  font-weight: 300;
  font-size: 120%;
  font-family: Roboto;
}

.display {
 display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
